.center-div {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -120px;
  margin-top: -100px;
  font-family: 'PT Sans';
}
.error-icon {
  display: inline-block;
  right: 0.7em;
  border: 0px solid red;
  width: 16px;
  height: 16px;
  margin-top: -12.5%;
}
.bg-white {
  background-color: #ffffff;
}
.top--15 {
  top: -1.5em;
}
.txt-center {
  text-align: center;
}
.txt-right {
  text-align: right;
}
a:link {
  text-decoration: none;
  color: #2980b9;
  font-family: 'PT Sans';
}
a:hover {
  color: #3498db;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.form-with-icon {
  display: inline !important;
  padding: 0.5em 1.6em 0.5em 0.6em !important;
}
.oauth-icons {
  width: 2em;
  height: 2em;
  display: inline-block;
  padding: 0 .5em;
}
.center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}
.width90 {
  width: 90% !important;
}
.width100 {
  width: 100% !important;
}
hr.line2 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.pushup-15 {
  top: -20px;
  padding: 0px 0.5em;
}
.pad-x0y1 {
  padding: 1em 0;
}
.margin-l-1 {
  margin-left: -1em;
}
