<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{title}}</title>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
	</head>
	<body ng-app="quizMe">
		<ng-view></ng-view>
		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-3">
				<form name="LoginForm" class="pure-form pure-form-aligned" novalidate ng-controller="LoginController as login" ng-submit="login.submit(LoginForm.$valid)">
					<fieldset>
						<div class="pure-control-group">
							<input id="email" type="email" placeholder="Email Address" ng-model="login.email" required>
						</div>
						<div class="pure-control-group">
							<input id="password" type="password" placeholder="Password" ng-model="login.password" required>
							<a href="#">Register</a>
						</div>
						<button type="submit" class="pure-button pure-button-primary">Submit</button>
					</fieldset>
				</form>
			</div>
		</div>
		<script src="../js/bundle.js"></script>
	</body>
</html>